<div class='uit-header'>
    <ul class='uit-section uit-section--slides'>
        <li class='uit-slide uit-slide--image uit-slide--0 uit-slide--left'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>By the summer of 1968, Americans were dying at a rate of more than 1,000 per month in the bloodiest year of the Vietnam War.</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url(https://media.guim.co.uk/e0dbd14c23583b71911f99a88a27e694605d5ec8/608_479_2392_1668/2000.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--1 uit-slide--right'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>By the summer of 1968, Americans were dying at a rate of more than 1,000 per month in the bloodiest year of the Vietnam War.</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url(https://media.guim.co.uk/e0dbd14c23583b71911f99a88a27e694605d5ec8/608_479_2392_1668/2000.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--2 uit-slide--left'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>By the summer of 1968, Americans were dying at a rate of more than 1,000 per month in the bloodiest year of the Vietnam War.</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url(https://media.guim.co.uk/e0dbd14c23583b71911f99a88a27e694605d5ec8/608_479_2392_1668/2000.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--3 uit-slide--right'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>By the summer of 1968, Americans were dying at a rate of more than 1,000 per month in the bloodiest year of the Vietnam War.</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url(https://media.guim.co.uk/e0dbd14c23583b71911f99a88a27e694605d5ec8/608_479_2392_1668/2000.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--video uit-slide--4'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
<!--                     <p>By the summer of 1968, Americans were dying at a rate of more than 1,000 per month in the bloodiest year of the Vietnam War.</p> -->
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__video-wrapper'>
                    <video class='uit-media__media uit-media__media--video' autoplay loop muted>
                        <source src='https://interactive.guim.co.uk/atoms/2018/08/black-radicals-timeline/v/1532113589640/assets/chicago.mp4' />
                    </video>
                </div>
            </div>
        </li>
    </ul>

    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                {{ headline }}
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>{{ standfirst }}</p>
            <div class='uit-header__byline'>{{{ marked byline }}}</div>
            {{> partials/share }}
        </div>
    </div>
</div>