<div class='uit-header'>
    <ul class='uit-section uit-section--slides'>
        <li class='uit-slide uit-slide--image uit-slide--0 uit-slide--left'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>By the summer of 1968, Americans were dying at a rate of more than 1,000 per month in the bloodiest year of the Vietnam war</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/viet.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--1 uit-slide--right'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>The war came home to the streets of an American city, as a young generation opposed to the conflict were met with brutal force from police in Chicago</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/streets.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--2 uit-slide--left'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>Young Americans were radicalised by shocking television footage of police battering demonstrators</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/shock.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--3 uit-slide--right'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>But a terrified older generation sided with police and turned to law and order strongman Richard Nixon, sowing divisions that still play out today</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/nixon.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--video uit-slide--4 uit-slide--headline'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p></p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__video-wrapper'>
                    <video class='uit-media__media uit-media__media--video' autoplay loop muted playsinline>
                        <source src='{{ path }}/assets/header.mp4' />
                    </video>
                </div>
            </div>
        </li>
    </ul>

    <div class='uit-container'>
        <div class='uit-content'>
            <div class='uit-header__content'>
                <h1 class='uit-header__headline' itemprop='headline'>
                    <span class='uit-header__headline__inner'>{{ headline }}</span>
                </h1>
                <p class='uit-header__standfirst' itemprop='description'>
                    <span class='uit-header__standfirst__inner'>{{ standfirst }}</span>
                </p>
            </div>
            <div class='uit-header__byline'>{{{ marked byline }}}</div>
            {{> partials/share }}
        </div>
    </div>
</div>