<div class='uit-header'>
    <ul class='uit-section uit-section--slides'>
        <li class='uit-slide uit-slide--image uit-slide--0 uit-slide--left'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>Almost half a century on, Black Lives Matter protests pitted demonstrators against a heavily militarised police force in Ferguson, Missouri</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/ferg.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--1 uit-slide--right'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>Donald Trump emerged in 2016 as the law and order candidate vowing “safety will be restored”</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/trump-gob.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--2 uit-slide--left'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>His political rallies have showcased populist anger which supports his dark depiction of &dlquo;American carnage&drquo;</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/trump-rally.jpg);'></div>
            </div>
        </li>

        <li class='uit-slide uit-slide--image uit-slide--3 uit-slide--right'>
            <div class='uit-container'>
                <div class='uit-slide__caption'>
                    <p>But he has inspired a new era of activism on issues from immigration and women’s rights to gun control</p>
                </div>
            </div>

            <div class='uit-media'>
                <div class='uit-media__media uit-media__media--image' style='background-image: url({{ path }}/assets/crowd.jpg);'></div>
            </div>
        </li>
    </ul>
</div>