<div class='uit-sections'>
    {{#each sections}}
        {{#if_eq type 'text'}}
            <div class='uit-section uit-section--text'>
                <div class='uit-container'>
                    <div class='uit-content'>
                        {{{ markedCap copy }}}
                    </div>
                </div>
            </div>
        {{/if_eq}}

        {{#if_eq type 'media'}}
            <ul class='uit-section uit-section--slides is-future'>
                <div class='uit-media__map' id='uit-media__map'></div>
                {{#each media}}
                    <li class='uit-slide uit-slide--{{ type }} uit-slide--{{ @index }} {{#if map}}has-map{{/if}}' {{#if map}}data-map='{{ map }}' data-labels='{{ maplabels }}'{{/if}}>
                        <div class='uit-container'>
                            <div class='uit-slide__caption'>
                                {{{ marked copy }}}
                            </div>
                        </div>

                        <div class='uit-media'>
                            {{#if_eq type 'image'}}
                                <div class='uit-media__image-wrapper uit-media__image-wrapper--mobile'>
                                    <div class='uit-media__media uit-media__media--image' style='background-image: url({{{ asset }}}/1000.jpg);'></div>
                                </div>
                                <div class='uit-media__image-wrapper uit-media__image-wrapper--desktop'>
                                    {{#if map}}
                                        <div class='uit-media__media uit-media__media--image' style='background-image: url({{{ imageUrl asset 1000 }}});'></div>
                                    {{else}}
                                        <div class='uit-media__media uit-media__media--image' style='background-image: url({{{ asset }}}/2000.jpg);'></div>
                                    {{/if}}
                                </div>
                            {{/if_eq}}
                            {{#if_eq type 'video'}}
                                <div class='uit-media__video-wrapper'>
                                    <video class='uit-media__media uit-media__media--video' autoplay loop muted>
                                        <source src='{{ asset }}' />
                                    </video>
                                </div>
                            {{/if_eq}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/if_eq}}

        {{#if_eq type 'outro'}}
            {{> partials/header-echo }}
        {{/if_eq}}
    {{/each}}
</div>
