.uit-header {
    overflow: auto;

    .uit-slide__caption {
        margin: 40vh 0;
    }

    .uit-slide--left {
        .uit-media {
            width: 50%;
        }

        .uit-slide__caption {
            margin-left: calc(50% + 20px);
        }
    }

    .uit-slide--right {
        .uit-media {
            width: 50%;
            right: 0;
            left: auto;
        }

        .uit-slide__caption {
            margin-left: 0;
        }
    }
}


.uit-header__headline {
    padding: 6px 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;

    @include mq(tablet) {
        font-size: 48px;
    }
}

.uit-header__headline-kicker {
    display: block;
    color: $c-red;
}

.uit-header__standfirst {
    padding: 3px 0 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.uit-header .uit-share {
    padding-bottom: 24px;
}

.uit-header__byline {
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-weight: 400;
    color: $c-red;

    a {
        font-style: normal;
        font-weight: bold;
        color: $c-red;
    }
}
