.uit-header {
    overflow: auto;

    .uit-slide__caption {
        margin-top: 40vh;
        margin-bottom: 40vh;
        max-width: calc(50% - 32px);

        @include mq(mobileLandscape) {
            max-width: calc(50% - 52px);
        }

        @include mq(tablet) {
            font-size: 36px;
            max-width: 540px;
        }

        p:after {
            display: none;
        }
    }

    .uit-slide--left {
        .uit-media {
            width: 50%;
        }

        .uit-slide__caption {
            margin-left: calc(50% + 10px);

            @include mq(mobileLandscape) {
                margin-left: calc(50% + 20px);
            }
        }
    }

    .uit-slide--right {
        .uit-media {
            width: 50%;
            right: 0;
            left: auto;
        }

        .uit-slide__caption {
            margin-left: 0;
        }
    }

    .uit-content:before {
        top: 65px;

        @include mq(tablet) {
            top: 142px;
        }
    }
}

.uit-header__headline {
    @include banding($c-black);
    font-family: 'Guardian Egyptian Web';
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 6px;
    color: $c-white;
    margin-top: -2.025em;
    margin-left: 8px;

    @include mq(tablet) {
        font-size: 70px;
    }

    &__inner {
        @include mq(tablet) {
            box-shadow: 12px 0 0 $c-black, -12px 0 0 $c-black;
        }
    }
}

.uit-header__standfirst {
    @include banding($c-black);
    font-family: 'Guardian Egyptian Web';
    color: $c-light-red;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 6px;
}

.uit-header__byline {
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-weight: 400;
    color: $c-light-red;

    a {
        font-style: normal;
        font-weight: bold;
        color: $c-light-red;
    }
}
